<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TreeForm</title>
  <link type="text/css" rel="stylesheet" href="css/mainSidi.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <script src="js/script.js"></script>
</head> 
<div class="container">
    <div class="header">
      <h1>TreeForm<h1>
    </div>
<body>
    <!-- <table>
        <tr>
            <td align="center">La pomme de terre est : <br>
                <INPUT TYPE=RADIO NAME=SECTEUR1 VALUE="UNIV" CHECKED>  Un tubercule<br>
                <INPUT TYPE=RADIO NAME=SECTEUR1 VALUE="CNRS">  Une racine<br>
                <INPUT TYPE=RADIO NAME=SECTEUR1 VALUE="INSE">  Un fruit<br>
                <Input type="submit" value="Valider">
            </td>
        </tr>
    </table> -->

    <div class="quizz">
        <div class="form-group one">
            <input id="quizz1" name="question" type="text" placeholder="Votre question ici" class="form-control input-md" required=""><br>
            <input id="resp1"  class="response" name="reponse" type="text" placeholder="Votre reponse ici" class="form-control input-md" required=""><br>
            <input id="resp2"  class="response" name="reponse" type="text" placeholder="Votre reponse ici" class="form-control input-md" required=""><br>
            <input id="resp3"  class="response" name="reponse" type="text" placeholder="Votre reponse ici" class="form-control input-md" required=""><br>
 
            
        </div>
         <hr>
         <div class="form-group two">
            <input id="quizz2" name="question" type="text" placeholder="Votre question ici" class="form-control input-md" required=""><br>
            <input id="resp21" class="response" name="reponse" type="text" placeholder="Votre reponse ici" class="form-control input-md" required=""><br>
            <input id="resp22" class="response" name="reponse" type="text" placeholder="Votre reponse ici" class="form-control input-md" required=""><br>
            <input id="resp23" class="response" name="reponse" type="text" placeholder="Votre reponse ici" class="form-control input-md" required=""><br>
            
        </div>
        <hr>
        <div class="form-group three">
           <input id="quizz3" name="question" type="text" placeholder="Votre question ici" class="form-control input-md" required=""><br>
           <input id="resp31" class="response" name="reponse" type="text" placeholder="Votre reponse ici" class="form-control input-md" required=""><br>
           <input id="resp32" class="response" name="reponse" type="text" placeholder="Votre reponse ici" class="form-control input-md" required=""><br>
           <input id="resp34" class="response" name="reponse" type="text" placeholder="Votre reponse ici" class="form-control input-md" required=""><br>
    
       </div>
       <Input type="submit" value="Valider">
    </div>
    
</div>


</body>
</html>
