<!DOCTYPE html>

<head>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TreeForm</title>
  <link type="text/css" rel="stylesheet" href="css/main.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <script src="js/script.js"></script>
</head> -->

<body>
    <!-- <table>
        <tr>
            <td align="center">La pomme de terre est : <br>
                <INPUT TYPE=RADIO NAME=SECTEUR1 VALUE="UNIV" CHECKED>  Un tubercule<br>
                <INPUT TYPE=RADIO NAME=SECTEUR1 VALUE="CNRS">  Une racine<br>
                <INPUT TYPE=RADIO NAME=SECTEUR1 VALUE="INSE">  Un fruit<br>
                <Input type="submit" value="Valider">
            </td>
        </tr>
    </table> -->

    <div>
        <div class="form-group">
            <input id="city" name="city" type="text" placeholder="Votre question ici" class="form-control input-md" required=""><br>
            <input id="city" name="city" type="text" placeholder="Votre question ici" class="form-control input-md" required=""><br>
            <input id="city" name="city" type="text" placeholder="Votre question ici" class="form-control input-md" required=""><br>
            <input id="city" name="city" type="text" placeholder="Votre question ici" class="form-control input-md" required=""><br>
            <INPUT TYPE=RADIO NAME=SECTEUR1 VALUE="UNIV">
            </div>
          </div>
    </div>



</body>
</html>
