<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TreeForm</title>
  <link type="text/css" rel="stylesheet" href="css/main.css" />
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <script src="js/script.js"></script>
</head>

<body>
  <div class="header">
    <h1>TreeForm<h1>


  </div>
  <div class="container">

    <div class="seconnecter">

	        <form action="" method="post">
                <div class="identifiant">
                    <input type="text" class="form-control" placeholder="Pseudo ou Email">
                </div>

                <div class="mot-de-passe">
                    <input type="password" class="form-control" placeholder="Mot de passe">
                </div>
                <div class="valider">
                    <input type="submit" class="valider" value="Se connecter">
                </div>
                <h4> ou <h4>
                <div class="s-inscrire">
                    <input type="submit" class="btn btn-success" value="S'inscrire">
                </div>
	        </form>

        </div>



  </div>
</body>
</html>
