<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TreeForm</title>
  <link type="text/css" rel="stylesheet" href="css/main-hono.css" />
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <script src="js/script.js"></script>
</head>


<body>
  <div class="texte">
    <p>Bienvenue sur mon formulaire, Vous pouvez répondre aux questions suivantes c'est très rapide</p>
  </div>
  <div class="leformulaire">
    <div class="blocs">
        <label for="form-message" class="questions"> Question 1 : </label><br>
        <input type="radio" name="réponseq1" >
        <label for="form-message" class="reponse"> Réponse 1</label><br>
        <input type="radio" name="réponseq1" >
        <label for="form-message"class="reponse"> Réponse 2</label><br>
        <input type="radio" name="réponseq1" >
        <label for="form-message"class="reponse"> Réponse 3</label><br>
    <div>

    <div class="blocs">
        <label for="form-message"class="questions"> Question 2 : </label><br>
        <input type="radio" name="réponseq2" >
        <label for="form-message"class="reponse"> Réponse 1</label><br>
        <input type="radio" name="réponseq2" >
        <label for="form-message" class="reponse"> Réponse 2</label><br>
        <input type="radio" name="réponseq2" >
        <label for="form-message" class="reponse"> Réponse 3</label><br>
    <div>
    <div class="blocs">
      <label for="form-message"class="questions"> Question 3 : </label><br>
        <input type="radio" name="réponseq3" >
        <label for="form-message"> Réponse 1</label><br>
        <input type="radio" name="réponseq3" >
        <label for="form-message"> Réponse 2</label><br>
        <input type="radio" name="réponseq3" >
        <label for="form-message"> Réponse 3</label><br>
    <div>
    <div class="boutons">
      <input type="submit" name="boutenvoyer" value="Valider" >
      <input type="submit" name="boutenvoyer" value="Annuler" >
    </div>

  </div>





</body>
</html>
