<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TreeForm</title>
  <link type="text/css" rel="stylesheet" href="css/main-hono.css" />
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <script src="js/script.js"></script>
</head>


<body>

  <div class="leformulaire">
    <div class="questions">
      <label for="form-message"> Question 1 : </label><br>
        <input type="radio" name="réponseq1" >
        <label for="form-message"> Réponse 1</label><br>
        <input type="radio" name="réponseq1" >
        <label for="form-message"> Réponse 2</label><br>
        <input type="radio" name="réponseq1" >
        <label for="form-message"> Réponse 3</label><br>
    <div>

    <div class="questions">
      <label for="form-message"> Question 2 : </label><br>
        <input type="radio" name="réponseq2" >
        <label for="form-message"> Réponse 1</label><br>
        <input type="radio" name="réponseq2" >
        <label for="form-message"> Réponse 2</label><br>
        <input type="radio" name="réponseq2" >
        <label for="form-message"> Réponse 3</label><br>
    <div>
    <div class="questions">
      <label for="form-message"> Question 3 : </label><br>
        <input type="radio" name="réponseq3" >
        <label for="form-message"> Réponse 1</label><br>
        <input type="radio" name="réponseq3" >
        <label for="form-message"> Réponse 2</label><br>
        <input type="radio" name="réponseq3" >
        <label for="form-message"> Réponse 3</label><br>
    <div>

  <div>





</body>
</html>
